*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

a {
    text-decoration: none;

}

body {
    position: relative;
    min-height: 100%;
    background: #0f171e !important;


}

html {
    height: 100%;

}

/*.wrapper {*/
/*    min-width: 100%;*/
/*    z-index: 1;*/
/*    position: relative;*/
/*    display: grid;*/
/*    min-height: 100%;*/
/*    grid-template-columns:1fr 1fr 1fr;*/
/*    grid-template-rows:1fr  1fr  1fr ;*/
/*    grid-template-areas:*/
/*            "pyramid main main"*/
/*            "footer footer footer"*/

/*}*/
.wrapper {
    min-width: 100%;
    display: flex;
    color: white;
    min-height: 100vh;

}

.main {
    /*position: relative;*/
    /*z-index: 1;*/
    /*display: grid;*/
    /*grid-area: main;*/
    /*margin: auto;*/
    /*border: 1px solid white;*/
    min-width: 75%;
    min-height: 100vh;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0f171e), url("/img/bg.jpg") center;

}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.moneyList {
    list-style-type: none;
    width: 100%;
    padding: 20px;

}

.moneyListItem:active {
    background-color: teal;
}

.moneyListItem {
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
}

.moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;
}